body {
    background-image: url("Phoenix.jpg");
    height: 100%;
    width: 100%;
}
#run-search {
background-color: rgb(67, 127, 255);
font-weight: bold;
}
#clear-all {
background-color: rgb(67, 127, 255);
font-weight: bold;
}
.jumbotron {
    background-color: rgba(211, 211, 211, 0);
}
.row {
    margin-bottom: 20px;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}
#form {
    width: 100%;
    height: 100%;
    font-weight: bold;
    
}
#weather {
    width: 100%;
    height: 264px;
    
}
#map {
    width: 100%;
    height: 410px;
}
#results {
    width: 100%;
    height: 100%;
    opacity: .8;
}